nav {
  background-color: rgba(0, 0, 0, 0.5);
}
section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.Hero .content h1 {
  position: absolute;
  height: 73.12px;
  left: 9.22%;
  right: 10.47%;
  top: calc(50% - 73.12px / 2 - 130.06px);

  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}
.Hero .content p {
  position: absolute;
  left: 33.84%;
  right: 29.66%;
  top: 46.23%;
  bottom: 50.89%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 2px;

  color: #ffffff;
}
.Hero .content .cta {
  position: absolute;
  height: 22px;
  left: 44.76%;
  right: 44.95%;
  top: calc(50% - 22px / 2 + 78.4px);

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #1a1917;
  position: absolute;
  left: 40.83%;
  right: 41.09%;
  top: 55.07%;
  bottom: 38.68%;

  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}
.Hero .content a {
  position: absolute;
  left: 47%;
  right: 47.48%;
  top: 91.03%;
  bottom: 6.4%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}
.Hero .content img {
  color: #fff;
  position: absolute;
  left: 47%;
  right: 47.48%;
  top: 95%;
  bottom: 5%;
}

section .col h3 {
  position: absolute;
  height: 72px;
  left: 5.7%;
  right: 76.09%;
  top: 23%;
  bottom: 68.64%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;

  color: #ffffff;
}
section .col h1 {
  position: absolute;
  height: 73.64px;
  left: 5.42%;
  right: 66.01%;
  top: calc(50% - 73.64px / 2 - 133.59px);

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}
section .container-xl .spesial {
  position: absolute;
  left: 55.52%;
  right: 26.29%;
  top: 5%;
  bottom: 70.16%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 2px;

  color: #ffffff;
}
section .container-xl .fitur {
  position: absolute;
  height: 73.64px;
  left: 55.25%;
  right: 16.22%;
  top: 8%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}
section .container-xl .game {
  position: absolute;
  width: 348.2px;
  height: 38.23px;
  left: 809.29px;
  top: 200px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 2px;

  color: #ffb548;
}
section .container-xl .P {
  position: absolute;
  left: 58.44%;
  right: 16.42%;
  top: 230px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: justify;

  color: #ffffff;
}
section .container-xl .game-suit {
  position: absolute;
  width: 366.44px;
  height: 38.23px;
  left: 842.04px;
  top: 400.45px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;

  color: #ffb548;
}
section .container-xl .tbd {
  position: absolute;
  width: 366.44px;
  height: 38.23px;
  left: 842.04px;
  top: 588.45px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;

  color: #ffb548;
}
section .container h4 .OS {
  position: absolute;
  left: 9.67%;
  right: 72.19%;
  top: 42.02%;
  bottom: 55.1%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 2px;

  color: #ffb548;
}
section table tr td {
  margin-top: 300px;
  border: 1px solid;
}
section .container h4 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 2px;

  color: #ffb548;
}
section .container p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  color: #ffffff;
}
section .container h3 {
  position: absolute;
  left: 39.27%;
  right: 36.26%;
  top: 15.12%;
  bottom: 82%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;

  color: #ffffff;
}
section .container h1 {
  position: absolute;
  height: 73.64px;
  left: 9.02%;
  right: 47.07%;
  top: calc(50% - 73.64px / 2 - 216.05px);

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}
section .container div .top-score {
  position: absolute;
  height: 153.56px;
  left: 8.15%;
  right: 63.31%;
  top: calc(50% - 153.56px / 2 - 63.6px);

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}
section .container div .ket {
  position: absolute;
  left: 8.33%;
  right: 65.35%;
  top: 44.34%;
  bottom: 49.72%;

  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  color: #ffffff;
}
section .container div .btn-warning {
  position: absolute;
  left: 8.12%;
  right: 73.79%;
  top: 54.45%;
  bottom: 39.3%;

  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}
section .container div .stay {
  position: absolute;
  left: 46.87%;
  right: 34.99%;
  top: 8%;
  bottom: 82.94%;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 2px;

  color: #ffffff;
}
section .container div .letter {
  position: absolute;
  height: 76.28px;
  left: 46.66%;
  right: 6.37%;
  top: calc(50% - 76.28px / 2 - 228.86px);

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}
section .container div .isian {
  position: absolute;
  left: 46.81%;
  right: 8.46%;
  top: 39.45%;
  bottom: 46.33%;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  color: #ffffff;
}
section .container div .form-label {
  color: #fff;
  position: absolute;
  width: 366.92px;
  height: 60px;
  left: 675.92px;
  top: 480.7px;
}
section .container div .form-control {
  position: absolute;
  width: 366.92px;
  height: 60px;
  left: 675.92px;
  top: 515.7px;
}
section .container div .form-text {
  color: #fff;
  position: absolute;
  width: 366.92px;
  height: 60px;
  left: 675.92px;
  top: 580.7px;
}
footer {
  background-color: black;
}
